#Homeintro {
  height: 95vh;
}

.Homeintro__section {
  @include flex-center;
  background-color: var(--white-color);
  width: 100%;
  height: 100vh;
}

.Homeintro__inner {
  @include flex-center-colum;
  background-color: var(--mainLightblue-color);
  width: 40rem;
  height: 40rem;
  border: 3px solid var(--black-color);
  border-radius: 10px;
  box-shadow: var(--shadow-sub);

  .Homeintro__title {
    font-family: var(--main-font);
    text-align: center;
    color: var(--white-color);
    font-weight: 600;
  }

  .Homeintro__font {
    font-family: var(--main-font);
    font-size: 20px;
    text-align: center;
    color: var(--white-color);
    margin-top: 10px;
  }

  // button 커스텀
  .custom-btn {
    margin: 20px;
    width: 130px;
    height: 40px;
    color: var(--white-color);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: var(--main-font);
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  /* 3 */
  .btn-3 {
    background: rgb(0, 172, 238);
    background: linear-gradient(
      0deg,
      rgba(0, 172, 238, 1) 0%,
      rgba(2, 126, 251, 1) 100%
    );
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover {
    background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover {
    color: rgba(2, 126, 251, 1);
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }
}
