#Homeheader {
  @include position-fixed;
  z-index: 100;
}

.Homeheader__nav {
  @include flex-center;
  background-color: var(--mainDarkblue-color);
  color: var(--white-color);
  padding: 1rem;

  .Homeheader__title {
    font-weight: 800;
    font-family: var(--main-font);
  }
}
