#Homeintro {
  height: 95vh;
}

section {
  @include flex-center;
  width: 100%;
  background-color: var(--mainLightblue-color);
}

.Homeintro__inner {
  @include flex-center-colum;
  background-color: var(--mainLightblue-color);
  width: 40rem;
  height: 40rem;
  border: 3px solid var(--subLightgray-color);
  border-radius: 10px;
  box-shadow: var(--shadow-sub);

  .Homeintro__title {
    font-family: var(--main-font);
    text-align: center;
    color: var(--white-color);
    font-weight: 600;
  }

  .Homeintro__font {
    font-family: var(--main-font);
    font-size: 20px;
    text-align: center;
    color: var(--white-color);
    margin-top: 10px;
  }
}
