.Mainheader__samslka {
  margin: 0 auto;
  text-align: center;
  padding-top: 42px;
  font-family: 'threesix-regular';
  font-size: 24px;
  color: var(--white-color);
}

.Mainheader__title {
  margin: 0 auto;
  text-align: center;
  margin-top: 32px;
  font-family: 'threesix-light';
  font-size: 16x;
  color: var(--white-color);
}

.Mainheader__little {
  margin: 0 auto;
  text-align: center;
  margin-top: 4px;
  font-family: 'threesix-light';
  font-size: 10px;
  color: var(--subLightgray-color);
}
