.Mainmap__section {
  margin: 0 auto;
  width: 360px;
  height: 300px;
  text-align: center;
  background-color: var(--mainLightblue-color);

  font-family: 'threesix-light';
}

.Mainmap__main {
  @include flex-center;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 280px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
}
