.Mainfooter__bottom {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 360px;
  height: 40px;
  text-align: center;
  background-color: white;

  font-family: 'threesix-light';
}

.Mainfooter__content {
  margin: 0 auto;
}
