#Mainheader {
  @include position-fixed;
  z-index: 100;
}

.Mainheader__nav {
  @include flex-between;
  background-color: var(--mainDarkblue-color);
  color: var(--white-color);
  box-shadow: var(--shadow-main);
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  width: 100%;

  .Mainheader__title {
    position: relative;
    left: 200px;
    font-size: 32px;
    font-family: var(--main-font);
  }

  .Mainheader__ul {
    @include flex-between;
    gap: 50px;
    position: relative;
    right: 100px;
    font-family: var(--main-font);

    .Mainheader__li:hover {
      transform: scale(1.2);
      opacity: 0.7;
    }
  }
}

// 네이게이션 애니메이션 포인트
