// list
.Mainlist__section {
  margin: 0 auto;
  width: 344px;
  height: 440px;
  text-align: center;
  background-color: var(--white-color);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.Mainlist__title {
  margin: 0 auto;
  padding-top: 32px;
  padding-left: 16px;
  width: 360px;
  font-family: 'threesix-light';
  font-size: 12px;
  text-align: start;
}

.Mainlist__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Mainlist__container {
  margin: 0 auto;
  padding-top: 12px;
  width: 360px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 12px;
  grid-column-gap: 8px;
}

.main__grid-items {
  @include flex-center;
  cursor: pointer;
  font-family: 'threesix-regular';
  font-size: 12px;
  margin: 0 auto;
  height: 80px;
  width: 80px;
  background-color: var(--subLightgray-color);
  border-radius: 16px;
}

.Mainmap__title {
  font-family: 'threesix-light';
  font-size: 12px;
  text-align: start;
  padding-left: 24px;
}

.Mainmap__main {
  margin-left: 12px;
  margin-top: 16px;
  margin-bottom: 14px;
  width: 320px;
  height: 140px;
  background-color: var(--subLightblue-color);
  border-radius: 10px;
}
