.Mainfoot {
  @include flex-center-colum;
  background-color: var(--threesix-color);
  margin: 0 auto;
  width: 360px;
  height: 20px;
  margin-top: 20px;
}

.Mainfooter__bottom {
  text-align: center;
  color: white;
  font-family: 'threesix-light';
}
