// list

.Mainlist__img {
  background-image: url(../img/Group.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 328px;
  height: 444px;
  margin: 0 auto;
  text-align: center;
}

.Mainlist__title {
  font-family: 'threesix-light';
  font-size: 12px;
  text-align: start;
  padding-top: 48px;
  padding-left: 26px;
}

.Mainlist__container {
  display: grid;
  padding: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 12px;
  grid-column-gap: 2px;
  justify-content: center;
}

.Main__img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Main__text {
  font-size: 10px;
  text-align: center;
}

.main__grid-items {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'threesix-regular';
  font-size: 12px;
  height: 64px;
  width: 64px;
  background-color: var(--subLightgray-color);
  border-radius: 16px;
}

.Mainmap__title {
  text-align: start;
  padding-top: 8px;
  padding-left: 26px;
  margin: 0 auto;
  font-family: 'threesix-light';
  font-size: 12px;
}

.Mainmap__main {
  margin: 0 auto;
  margin-top: 20px;
  width: 280px;
  height: 120px;
  background-color: var(--subLightblue-color);
  border-radius: 10px;
}

.Mainmap__sub {
  text-align: center;
  padding-top: 12px;
  margin: 0 auto;
  font-family: 'threesix-light';
  font-size: 6px;
}
