.Mainintro__section {
  margin: 0 auto;
  width: 360px;
  height: 300px;
  text-align: center;
  background-color: var(--mainLightblue-color);

  font-family: 'threesix-light';

  padding-top: 12px;
}

.Mainintro__font {
  padding-top: 24px;

  font-weight: 600;
  font-size: 20px;
}
