// 모바일
@media (max-width: 500px) {
  .MainFooter-pc {
    display: none;
  }

  #MainFooter__mobile {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
  }

  .Mainfooter__bottom {
    text-align: center;
    color: var(--white-color);
    font-family: 'threesix-light';
    padding-top: 40px;
    padding-bottom: 10px;
  }
}

//pc
@media (min-width: 993px) {
  .Mainfooter__bottom {
    display: none;
  }

  .MainFooter-pc {
    background-color: #d3f3c9;
    width: 100vw;
    height: 200px;

    box-shadow: var(--shadow-main);
  }

  .Mainfooter__text {
    color: #5fd33a;
    text-align: center;
    font-family: 'threesix-light';
    font-size: 24px;
    padding-top: 20px;

    &:hover {
      color: var(--balck-color);
    }
  }

  .Mainfooter__title {
    color: #5fd33a;
    text-align: center;
    font-family: 'threesix-regular';
    font-size: 32px;
    padding-top: 10px;

    &:hover {
      color: var(--balck-color);
    }
  }

  .Mainfooter__update {
    margin-left: 10px;
    color: var(--subSilver-color);
  }
}

// 태블릿 사이즈
@media (min-width: 501px) and (max-width: 992px) {
  .Mainfooter__bottom {
    display: none;
  }

  .MainFooter-pc {
    background-color: #d3f3c9;
    width: 100vw;
    height: 220px;

    box-shadow: var(--shadow-main);
  }

  .Mainfooter__text {
    color: #5fd33a;
    text-align: center;
    font-family: 'threesix-light';
    font-size: 20px;
    padding-top: 20px;
  }

  .Mainfooter__title {
    color: #5fd33a;
    text-align: center;
    font-family: 'threesix-regular';
    font-size: 30px;
    padding-top: 10px;
  }

  .Mainfooter__update {
    margin-left: 10px;
    color: var(--subSilver-color);
  }
}
