.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 214px;
  padding-top: 48px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

// 애니메이션 사진 컨트롤 beta
.ani {
  width: 50%;
  height: 50%;
  object-fit: contain;
  margin: 0 auto;
  padding-top: 32px;
}

.Mainintro__item {
  box-shadow: var(--shadow-sub);
  position: absolute;
  will-change: transform;
  width: 120px;
  height: 150px;
  background-color: var(--white-color);
  border-radius: 16px;
  left: max(calc(120px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}
