/* 10/15
스타일 - all 
*/
// body 전체적인 개편

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--threesix-color);
  background-image: url(../img/back.png);
  background-size: 100%;
  //background-repeat: no-repeat;
  background-position: center;
}

body,
html {
  overflow-x: hidden;
  height: 100%;
}

// 링크 초기화
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
