// 삼육대체 Light

@font-face {
  src: url('../font/threesix-Light.ttf'); // 파일 연결
  font-family: 'threesix-light'; // family 이름 설정
}

// 삼육대체 Regular

@font-face {
  src: url('../font/threesix-Regular.ttf'); // 파일 연결
  font-family: 'threesix-regular'; // family 이름 설정
}
