// 가운데 정렬 - 행
@mixin flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

// 가운데 정렬 - 열
@mixin flex-center-colum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 양쪽 넓게 정렬
@mixin flex-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

// 양쪽 적당히 정렬
@mixin flex-around {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

// 중앙 정렬
@mixin position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// 상단 고정
@mixin position-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
