// 모바일
@media (max-width: 500px) {
  .list__head {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: 'threesix-regular';
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

// 태블릿 사이즈
@media (min-width: 501px) and (max-width: 992px) {
  .list__head {
    margin: 0 auto;
    text-align: center;
    font-family: 'threesix-regular';
    font-size: 28px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--threesixPC-color);
  }
}

//pc
@media (min-width: 993px) {
  .list__head {
    margin: 0 auto;
    text-align: center;
    font-family: 'threesix-regular';
    font-size: 32px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--threesixPC-color);
  }
}
