// 모바일
@media (max-width: 500px) {
  .list__foot {
    color: var(--white-color);
    font-family: 'threesix-light';
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// 태블릿 사이즈
@media (min-width: 501px) and (max-width: 992px) {
  .list__foot {
    background-color: #d3f3c9;
    font-family: 'threesix-light';
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

//pc
@media (min-width: 993px) {
  .list__foot {
    background-color: #d3f3c9;
    font-family: 'threesix-light';
    text-align: center;
    font-size: 14px;
    margin-top: 30px;

    padding-top: 20px;
    padding-bottom: 20px;
  }
}
