// 모바일
@media (max-width: 500px) {
  .Up_btn {
    position: fixed;
    bottom: 90px;
    right: 2%;
    background-color: #d3f3c9;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
    opacity: 0.7;
  }

  .Down_btn {
    position: fixed;
    bottom: 30px;
    right: 2%;
    background-color: #d3f3c9;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0.7;
    z-index: 100;
  }

  .UpDown__icon {
    height: 50%;
    width: 50%;
  }
}

//pc 2025/2/2 (1260 추가 반응형)
@media (min-width: 1261px) {
  .Up_btn {
    position: fixed;
    bottom: 150px;
    right: 20px;
    background-color: #d3f3c9;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
  }

  .Down_btn {
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #d3f3c9;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
  }

  .UpDown__icon {
    height: 60%;
    width: 60%;
  }
}

@media (min-width: 500px) and (max-width: 1260px) {
  .Up_btn {
    position: fixed;
    bottom: 150px;
    right: 20px;
    background-color: #d3f3c9;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
  }

  .Down_btn {
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #d3f3c9;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
  }

  .UpDown__icon {
    height: 60%;
    width: 60%;
  }
}
